workflow.n8n.json
{
  "name": "AI Image Generation & Email",
  "nodes": [
    {
      "parameters": {
        "command": "python",
        "args": [
          "main.py"
        ],
        "options": {
          "workingDirectory": "/path/to/your/image_generation_workflow"
        }
      },
      "name": "Run Python Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "path": "outputs/logs/email_body.html"
      },
      "name": "Read Email Body",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "fromEmail": "your_email@example.com",
        "toEmail": "recipient1@example.com,recipient2@example.com",
        "subject": "🖼️ Batch AI Images Ready",
        "html": "={{$node['Read Email Body'].binary.data.toString('utf8')}}"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Run Python Script": {
      "main": [
        [
          {
            "node": "Read Email Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email Body": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
